@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(snow.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
h1 {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 6rem;
    background-image: url(firework.gif);
    background-clip: text;
    background-size: contain;
    color: transparent;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.big-text{
    font-size: 6rem;
    line-height: 0.8;
    margin: 0 2rem;
    color: rgb(98, 98, 98);
    margin-bottom: 1.2rem;
  
}

