*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;

}

h1{
    font-family: sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgb(80, 9, 9);
}
.button-list{
    height: 400px;
}
#start, #stop{
    margin-left: 40px;
    height: 40px;
    width: 80px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#start{
    background-color: rgb(18, 196, 18);
}
#stop{
    background-color: rgb(238, 88, 88);
}