*{
    margin: 0;
    padding: 0;
}

.canvas{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    text-align: center;
}
h2{
    margin: 20px;
}

button{
    border: 3px solid;
    height: 100px;
    width: 100px;
}
#reset {
    height: 20px;
    width: 50px;
    border-radius: 20px;
    background-color: #fff;
}
#red{
    background-color: red;
}
#grey{
    background-color: grey;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}